app:
  name: travel-tips-db
  namespace: sskd
  replicas: 1
  port: 5432

  image:
    repository: postgres
    tag: 16-alpine
    pullPolicy: IfNotPresent

  imagePullSecrets: []

  envFrom:
    - secretRef:
        name: travel-tips-db-secrets

  livenessProbe: null
  readinessProbe: null

  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "200m"

  persistence:
    enabled: true
    size: 10Gi
    storageClass: local-path
    mountPath: /var/lib/postgresql/data

  ingress:
    enabled: false
